*:focus {
  outline: none;
}
.btn:hover {
  border-color: var(--lite-color);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.enter-btn:hover,
.nav__link:hover {
  color: var(--lite-color);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.header__enter-block:hover svg path {
  fill: var(--lite-color);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--lite-color);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
/* .second__item:hover > * {
  border: none;
} */
.second__item:hover {
  box-shadow: 0 3px var(--lite-color) inset, 0 -3px var(--lite-color) inset;
  /* border-bottom: 1px var(--lite-color) solid; */

  transition: box-shadow cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s 0.1s;
}
.second__item:hover .second__img-block * {
  background-color: var(--lite-color);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2 0.06s;
}
.btn--lite:hover {
  border-color: var(--lite-color);
  background-color: var(--lite-color);
}
.search-block__input:hover {
  border-color: var(--lite-color);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.swiper-slide:hover {
  background-color: blue;
  cursor: pointer;
}
.up {
  transform: translateY(-50px);
}
.nav__link:focus,
.burger-btn:focus,
.header__link:focus {
  outline: none;
  color: #fff;
  background-color: var(--main-color);
}
.search-block__input:focus {
  outline: none;
  border-color: var(--lite-color);
}
.btn:focus {
  outline: none;
  border: 1px var(--main-color) solid;
  box-shadow: 0 0 0 3px #fff inset;
  transform: scale(105%);
}
.choices[data-type*='select-one']:focus {
  border: 2px solid var(--main-color);
}
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
  background-color: var(--lite-color);
}
.second__item:focus {
  outline: none;
}
.second__item:focus .ac-header {
  background-color: var(--main-color);
}
.second__item:focus .second__img-block .second__ico {
  background-color: var(--lite-color);
}
.card__link:focus {
  background-color: var(--main-color);
  color: #fff;
}
.link:focus {
  outline: none;
  background-color: var(--main-color);
}
