@media (min-width: 1321px) {
  .full-screen {
    background-size: 200%;
  }
  .gallery {
    background-size: 200%;
  }
  .burger {
    display: none;
  }
}
@media (max-width: 1700px) {
  .header__navigation-block {
    width: 75%;
  }
  .connect__contact-block {
    display: flex;

    flex-wrap: wrap;
  }
}

@media (max-width: 1320px) {
  /* .header__navigation-block {
    width: 80%;
  } */
  .full-screen {
    background-size: 150% 110%;
  }
  .full-screen__content-block {
    width: 60%;
  }
  .swiper {
    margin-top: -8%;
    padding-top: 8%;
  }

  .burger-list {
    width: 100%;
    height: 76vh;
    flex-direction: column;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    justify-content: initial;
    padding: 100px 50px 0;
  }
  .header__frame {
    /* position: relative; */
  }
  .burger-btn {
    position: absolute;
    bottom: -20rem;
  }

  .nav__nav-link:not(:last-child) {
    margin-bottom: 1rem;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    height: 23px;
    width: 30px;
    justify-content: space-between;
    z-index: 12;
    padding: 0;
    margin: 0;

    position: absolute;
  }
  .burger__line {
    height: 4px;
    width: 100%;
    background-color: #fff;
  }
  /*  */
  .burger--cross {
    position: relative;
  }
  .burger--cross .burger__line:last-child {
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
  }
  .burger--cross .burger__line:first-child {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
  }
  .burger--cross .burger__line:nth-child(2) {
    display: none;
  }
  .burger--desable {
    position: initial;
  }
  .sb-2 {
    display: none;
  }
  .sb-1 {
    display: flex;
  }
  .header__navigation-block {
    width: 50%;
  }
  .txt-block {
    width: 100%;
  }
  .connect__contact-block {
    flex-direction: column;
  }
  .connect__contact-forms {
    padding: 0;
    margin-bottom: 2rem;
  }
  .connect__content-block {
    margin-bottom: 2rem;
  }
  .frame {
    padding: 0 50px;
  }
  .gallery__parts {
    display: flex;
    justify-content: space-between;
  }
  .swiper {
    width: 100%;
  }
  .gallery__left-block {
    margin-right: 3rem;
  }
  .gallery__content-block {
    width: 70%;
  }
  .ac-header {
    display: inline-block;
    flex-wrap: wrap;
    max-width: 75%;
    height: inherit;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .burder-list {
    visibility: visible;
    transform: none;
  }
  .burger-list--desable {
    visibility: hidden;
    transform: translateY(-110%);
  }
  .burgerBtn--desable {
    visibility: hidden;
    transform: translateY(-210%);
  }
  .search-block__input {
    width: 100%;
  }
  .search-block__input:focus {
    outline: none;
  }
  .search-block__input--hidden {
    border-color: transparent !important;
    width: 0;
  }
  .header__second-header {
    display: none;
  }

  .gallery__content-block .swiper-button-next {
    top: 7%;
    left: 5em;
  }
  .gallery__content-block .swiper-button-prev {
    top: 7%;
    left: 0;
  }
  .gallery__content-block .swiper-counter {
    left: 2.5em;
    top: 3%;
  }
}
@media (max-width: 770px) {
  .full-screen__content-block {
    width: 100%;
    padding: 0;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .full-screen__content-block,
  .full-screen__frame {
    height: 100%;
  }

  .gallery__block {
    width: 50%;
  }
  .gallery__parts {
    flex-direction: column;
  }
  .gallery__left-block {
    margin-bottom: 5rem;
  }
  .gallery__block {
    margin-bottom: 3rem;
  }
  .swiper-button-next {
    right: 0%;
  }
  .swiper-counter {
    left: 10%;
    top: 5.5%;
  }
  .swiper {
    margin-top: -10%;
    padding-top: 10%;
  }
  .heading--mini {
    margin-bottom: 30px;
  }
  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    backdrop-filter: blur(2px) brightness(70%);
    color: #fff;
  }
  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    border-color: rgba(0, 0, 0, 0.519);
  }
  .gallery__content-block {
    width: 100%;
  }
  .btn--lite {
    width: 44%;
  }
  .search-block__loup {
    width: 24px;
    height: 24px;
  }
  .full-screen {
    height: 80vh;
    padding: 0;
  }
  .catalog__parts-block {
    flex-direction: column-reverse;
  }
  .connect__form {
    flex-wrap: wrap;
  }
  .form__input-box:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 550px) {
  .frame {
    padding: 0 30px;
  }
  .accent-heading {
    font-size: 32px;
    line-height: 2.5rem;
  }
  .txt--wite {
    font-size: 12px;
  }
  .full-screen__content-block {
    align-items: center;
  }
  .heading {
    font-size: 28px;
  }
  .txt {
    font-size: 14px;
  }
  .section {
    padding: 3em 0;
  }
  .full-screen {
    padding-top: 10em;
    height: inherit;
    min-height: 80vh;
  }
  .gallery__block {
    width: 100%;
  }
  .swiper-button-prev {
    bottom: 0.5em;
    left: 15%;
    right: inherit;
    top: inherit;
  }
  .swiper-button-next {
    right: 15%;
    left: inherit;
    bottom: 0.5em;
    top: inherit;
  }
  .card-art {
    flex-direction: column;
    min-height: 50vh;
    max-height: 80vh;
    overflow: hidden;
    width: 75vw;
    height: initial;

    top: 0;
    bottom: 35%;
    transform: translateY(20%);
  }
  .card__img-block {
    width: 100%;
    height: 40%;
    /* min-height: 10vh; */
  }

  .card__block {
    width: 100%;
    height: initial;
    padding: 2rem 0.5rem 0.2rem;
  }
  .swiper-counter {
    left: 47%;
    bottom: 0.7em;
    top: inherit;
  }
  .swiper {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: -4em;
    padding-bottom: 4em;
  }
  .gallery__content-block {
    margin-bottom: 5em;
  }
  .double {
    margin-right: 0;
  }
  .swiper-button-next--2 {
    display: none;
  }
  .swiper-button-next--3 {
    right: 0%;
    left: inherit;
    bottom: 50%;
    top: 50%;
  }
  .swiper-button-prev--3 {
    left: 0%;
    right: inherit;
    bottom: 50%;
    top: 50%;
  }
  .full-screen__text-block {
    margin-bottom: 2rem;
  }
}
