@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif, sans-serif;
 */

* {
  box-sizing: border-box;
  /* border: 1px solid rgba(245, 130, 59, 0.803); */
}
.d-none {
  display: none;
}
:root {
  --main-black: #000;
  --main-perple: #9d5cd0;
  --text-black: #333;
}
.header {
  position: fixed;
  top: 0;
  left: auto;
  width: 100vw;
  z-index: 9;
}

.header__main-header {
  background-color: var(--main-black);
  padding: 30px 0;
}
.frame {
  padding: 0 8.3%;
}
.logo {
  color: #fff;
}
.header__frame {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #fff;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.enter-btn,
.nav__link--lite {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  text-decoration: none;
  list-style: none;
}
.navigation-block {
  display: flex;
  justify-content: space-between;
}
.header__navigation-block {
  width: 63%;
}
.nav__nav-link:not(:last-child) {
  margin-right: 4.5rem;
}
.logo {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 25px;
}
.enter-btn {
  background-color: transparent;
  color: #fff;
  display: inline-block;
  padding: 0;
  border: none;
}
.header__enter-svg {
  width: 15px;
  height: 15px;
}
.header__enter-block {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.second-header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}
.second-header__frame {
  display: flex;
  justify-content: space-between;
}
.second-header__navigation-block {
  min-width: 45.5%;
  min-width: 55.5%;
}
.second-header__nav {
  width: 100%;
}
.nav__link {
  text-decoration: none;
}
.search-block__loup {
  width: 15px;
  height: 15px;
}
.search-block {
  display: flex;
  align-items: center;
}
.search-block__input {
  background-color: transparent;
  border: none;
  color: #fff;
  padding-left: 5px;
  border-bottom: 1px solid white;
}
.search-block__input::placeholder {
  color: white;
}
/*  */
.full-screen {
  background: no-repeat url(../source/fullscreen.png);

  height: 800px;
}
.full-screen__content-block {
  width: 40%;

  padding: 170px 0 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.accent-heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: white;

  margin: 0;
}
.txt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: #000;

  margin: 0;
}
.txt--white {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: white;
}

.full-screen__content-block,
.full-screen__frame {
  height: 100%;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  border-radius: 100px;
  background-color: var(--main-perple);
  color: #fff;

  padding: 15px 35px;
}
.full-screen__text-block {
  margin-bottom: 6rem;
}
.full-screen__btn {
  width: 50%;
}
/*  */
.section {
  padding: 80px 0;
}
.heading {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;

  color: var(--text-black);

  margin: 0;
  margin-bottom: 1rem;
}
.txt-block {
  width: 75%;
}
/*  */
.gallery {
  background: no-repeat url(../source/back-black.jpg);
}
.gallery__left-block {
  width: 100%;
}
.gallery__parts {
  display: flex;
}
.heading--white {
  color: #fff;
  height: 80px;
  display: block;
}
.gallery__frame {
  display: flex;
  flex-direction: column;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.gallery__check-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery__check:not(:last-child) {
  margin-bottom: 10px;
}
.choices[data-type*='select-one']::after {
  content: '';
  width: 10px;
  height: 10px;
  border: none;
  border-bottom: 1px #fff solid;
  border-right: 1px #fff solid;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.choices[data-type*='select-one'].is-open::after {
  margin: none;
  transform: rotate(225deg);
  border-bottom: 1px #fff solid;
  border-right: 1px #fff solid;
  transition: transform 0.3s ease;
}

.choices,
.is-open .choices__inner,
.choices__inner {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
}
.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border: 1px solid #999999;
  background-color: transparent;
  color: #999999;
}
.choices[data-type*='select-one'] .choices__inner {
  /* */
}
#choices--select-item-choice-1 {
  /*  */
}
.choices__list--dropdown .choices__placeholder {
  /*  */
}
.choices[data-type*='select-one']::after {
  /*  */
}
.form-control {
  /*  */
}

.gallery__content-block {
  width: 80%;
  position: relative;
}
.swiper-slide {
  color: #fff;
}
.swiper2 {
  width: 100%;
  height: 700px;
}

.swiper {
  width: 75%;
  height: 350px;
  /* margin: 0; */
}
.swiper-counter {
  position: absolute;
  left: 4.5%;
  top: 5%;
  z-index: 100;
  color: #fff;
}

.swiper-counter__total {
}
.swiper-slide {
  /* margin-right: 1.5rem; */

  background-color: red;
}
.swiper {
  margin-top: -5%;
  padding-top: 5%;
}
.swiper-button-next {
  position: absolute;
  top: 10%;
  left: 10%;

  width: 30px;
  height: 30px;

  background-color: #666666;
  border-radius: 50%;

  background-image: url(../source/Rectangle\ arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}
.swiper2 {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-button-prev {
  position: absolute;
  top: 10%;
  left: 0%;

  width: 30px;
  height: 30px;

  background-color: #666666;
  border-radius: 50%;

  background-image: url(../source/Rectangle\ arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.swiper-button-prev::after {
  display: none;
}
.gallery__check {
  color: #fff;
}

.check {
  visibility: hidden;
  position: relative;
}
.castom-check {
  position: relative;
  width: 130px;
  display: flex;
  justify-content: center;
  height: 15px;
  align-items: center;
  padding-left: 33px;
}
.check-box {
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: solid 2px #ffffff;
  border-radius: 0;
}
.check:checked + .check-box {
  background-size: 20px;
  background-position: center;
  border-color: #9d5cd0;
  background: radial-gradient(1em, #9d5cd0 10%, transparent 0%) no-repeat;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
}

/*  */
.first__img-box {
  background-color: red;
}
.catalog__parts-block {
  display: flex;
}
.double {
  flex: 19;
  margin-right: 3rem;
}
.double__second {
  flex: 20;
}
.first__img-box {
  width: 100%;
  min-height: 400px;
  max-block-size: 550px;
  background-color: red;
  margin-bottom: 2rem;
}
.catalog__txt-block {
  margin-bottom: 3rem;
}
.img-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.txt--gray {
  margin: 0;
  margin-bottom: 15px;
  color: #999999;
}
/*  */
.events__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next--2 {
  width: 50px;
  height: 50px;

  right: 0.5%;
  top: 50%;
  left: inherit;
  bottom: inherit;

  background-color: #ececec;
  background-image: none;

  transform: rotate(135deg);
}
.swiper-button-next--2::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-left: 2px solid var(--text-black);
  border-top: 2px solid var(--text-black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.events__swiper {
  margin-right: -30px;
  padding-right: 30px;
}
.card {
  width: 100%;
  height: 100%;
}
.card__header {
  min-height: 40%;
  max-height: 45%;
  background-color: red;
}
.card__heading {
  color: var(--text-black);
}
.card__content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;

  padding: 10px 50px 40px;
}
/* временно! */
.swiper2 > .swiper-wrapper > .swiper-slide {
  background-color: transparent;
}
/* !!! */
/*  */
.heading--mini {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 20px;
}
.project__txt {
  margin-bottom: 30px;
}
.swiper-button-next--3 {
  top: 50%;
  left: inherit;
  right: 0;
  bottom: inherit;

  background-color: #ececec;
  background-image: none;

  transform: rotate(135deg);
}
.swiper-button-next--3::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--text-black);
  border-top: 2px solid var(--text-black);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
}
.swiper-button-prev--3 {
  top: 50%;
  left: 0;
  right: inherit;
  bottom: inherit;

  background-color: #ececec;
  background-image: none;

  transform: rotate(-45deg);
}
.swiper-button-prev--3::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--text-black);
  border-top: 2px solid var(--text-black);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
}
.swiper3 {
  width: 100%;
  height: 150px;

  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  /* margin: 0 -45px; */
  padding: 0 45px;
}

/*  */
.connect__contact-forms {
  margin: 0;
  display: flex;
}
.connect__contact-block {
  display: flex;
  justify-content: space-between;
}
.connect__form {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.btn--lite {
  background-color: #fff;
  color: #9d5cd0;
}
.form__input {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  border-radius: 100px;
  background-color: transparent;
  color: var(--text-black);
  border-color: var(--text-black);

  padding: 15px 35px;

  margin-right: 1.3rem;
}
.connect {
  padding: 45px 0 0;
}
.connect__frame {
  margin-bottom: 45px;
}
[class*='ground-pane'] {
  filter: grayscale(1);
}
[class*='copyright'] {
  display: none;
}
[class*='controls'] {
  display: none;
}
.map__y {
  width: 100%;
  min-height: 700px;
  height: 100%;
}

/*  */
.footer {
  background-color: var(--main-black);
  padding: 50px 0;
}
/*  */
.second__list {
  list-style: none;
  padding: 0;
}

.second__item {
  display: flex;
  justify-content: space-between;
  /* font-weight: 700; */
  /* font-size: 24px; */
  line-height: 32px;
  color: #333333;
  /* border-bottom: 1px #cacaca solid; */
  /* padding: 40px 0; */
  /*background: no-repeat url(../img/+х.svg);
  background-position: right;*/
  /* font-family: 'MonseratBold'; */
  /* height: 112px; */
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}

.second__item h3 {
  height: 33px;
  font-family: 'MonseratBold';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.second__item:first-child > .ac-block {
  border-top: 1px #cacaca solid;
}

.ac-block {
  padding: 40px 0;
  width: 100%;

  border-bottom: 1px #cacaca solid;
}

.second .heading {
  margin-bottom: 41px;
}

.second__item {
  position: relative;
}

.ac-trigger {
  max-width: 85%;
}

.second__ico {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ececec;
  border: 2px solid #ececec;
  position: relative;
}
.second__ico::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-left: 2px solid var(--text-black);
  border-top: 2px solid var(--text-black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second__ico {
  transform: rotate(-135deg);
  transition: transform 0.3s 0.05s,
    background-color cubic-bezier(0.23, 1, 0.32, 1) 0.5s 0.2s;
}

.ui-state-active ~ .second__img-block .second__ico {
  transform: rotate(45deg);
  border-color: var(--main-perple);
  background-color: #d1a9f0;

  transition: transform 0.4s 0.05s, background-color ease 0.5s;
}
.ui-state-active ~ .second__img-block .second__ico::after {
  border-color: var(--main-perple);

  transition: transform 0.4s 0.05s;
}

.second__img-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* .second__svg {
} */

.ac-header::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: inline-block;
}

.ui-accordion-content {
  display: block;
}
.card__ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 250px;
  width: 100%;
  padding: 0;
}
.card__item {
  margin-right: 4rem;
}
.ui-accordion-header-icon {
  display: none;
}
.ac-header {
  margin: 0;
}
